<div class="container">

    <div class="top">
       <h2>Users</h2>
       <button class="add-user">Add new User</button>
    </div>

    <div class="bottom">

        <div class="search">
            <input placeholder="Search within table"><button>search</button>
        </div>
        
<table>

    <thead>
        <tr>
            <th>id <hr></th> 
            <th> Name <hr></th>
            <th>Email <hr></th>
            <th>Phone Number <hr></th>
            <th>Region <hr></th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>
                1
            </td>
            <td>
                Mark Kariuki
            </td>
            <td>
                kariukimark115@gmail.com
            </td>
            <td>
                +254794120546
            </td>
            <td>
                Region
            </td>
            <button class="edit">edit</button>
            <button class="delete">delete</button>
        </tr>
        <tr>
            <td>
                1
            </td>
            <td>
                Mark Kariuki
            </td>
            <td>
                kariukimark115@gmail.com
            </td>
            <td>
                +254794120546
            </td>
            <td>
                Region
            </td>
            <button class="edit">edit</button>
            <button class="delete">delete</button>
        </tr>
        <tr>
            <td>
                1
            </td>
            <td>
                Mark Kariuki
            </td>
            <td>
                kariukimark115@gmail.com
            </td>
            <td>
                +254794120546
            </td>
            <td>
                Region
            </td>
            <button class="edit">edit</button>
            <button class="delete">delete</button>
        </tr>
    </tbody>
</table>
    </div>

    <div class="input">

        <h1>Add customer</h1>
        <form action="">
            <input type="text" name="name" placeholder="Enter user Name..">
            <input type="text" name="name" placeholder="Enter user Email..">
            <input type="text" name="name" placeholder="Enter user phonenumber..">
            <input type="text" name="name" placeholder="Enter user Region">

        </form>
        <button class="add">add</button>
        <button class="cancel">cancel</button>
      
      
    </div>

</div>
