<div class="container">

<div class="menu">
    <i class="fa fa-bars"></i>
</div>

    <ul >
        <li>
            <i href="dashboard" class="fa fa-house"></i>
            <a href="dashboard">Dashboard</a>
        </li>
      
        
        <li>
            <i class="fa fa-cat"></i>
            <a routerLinkActive="active"
            routerLink="about-us">About-Us</a>
        </li>
        <li>
            <i class="fa fa-users" routerLink="customers"></i>  
            <a routerLinkActive="active"
        routerLink="customers" >Customers</a>
        </li>
        <li>
            <i class="fa-solid fa-money-bill-wave" routerLink="loans"></i> 
            <a
            routerLinkActive="active"
             routerLink="loans">Loan Types</a>
        </li>
        <li>
            <i class="fa-solid fa-money-bill-wave" routerLink="invoices"></i> 
            <a
            routerLinkActive="active"
             routerLink="invoices">Invoices</a>
        </li>
        <li>
            <i class="fa fa-gear" routerLink="settings"></i>
            <a
            routerLinkActive="active" 
            routerLink="settings" >Settings</a>
        </li>
        <li>
            <i class="fa-solid fa-face-smile" routerLink="reviews"></i>
            <a
            routerLinkActive="active"
            routerLink="reviews">Reviews</a>
        </li>
    </ul>
</div>