<div class="container">

    <div class="top">
       <h2>Invoices</h2>
       <button class="add-user">Add new Invoice</button>
    </div>

    <div class="bottom">

        <div class="search">
            <input placeholder="Search within table"><button>search</button>
        </div>
        
<table>

    <thead>
        <tr>
            <th>Payment id <hr></th> 
            <th> Customer id <hr></th>
            <th>Customer Name <hr></th>
            <th>Amount <hr></th>
            <th>Mode<hr></th>
            <th>Date<hr></th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>
                lg546
            </td>
            <td>
               1
            </td>
            <td>
                Mark Kariuki
            </td>
            <td>
                +254794120546
            </td>
            <td>
                Region
            </td>
            <td>
               mpesa
            </td>
            
        </tr>
        <tr>
            <td>
                lg589
            </td>
            <td>
               2
            </td>
            <td>
                Mark Kariuki
            </td>
            <td>
                +254794120546
            </td>
            <td>
                Region
            </td>
            
        </tr>
        <tr>
            <td>
                lg998
            </td>
            <td>
               3
            </td>
            <td>
                Mark Kariuki
            </td>
            <td>
                +254794120546
            </td>
            <td>
                Region
            </td>
            <td>
                visa
            </td>
        </tr>
    </tbody>
</table>
    </div>

   

</div>

