<div class="container">

    <div  class="boxes">
        <div class="box1">
            <span>69</span>
            <p>customers</p>
        </div>
        <div class="box1">
            <span>98</span>
            <p>Dispatched <br> loans</p>
        </div>
        <div class="box1">
            <span>69</span>
            <p>pending <br> loans</p>
        </div>
    </div>
    <div class="recent-loans">
      
        <table>

            <thead>
                <tr>
                    <th>Loan id <hr></th> 
                    <th>Loan Name <hr></th>
                    <th>Loan Type <hr></th>
                    <th>Date Discharges <hr></th>
                    <th>Loan Amount <hr></th>
                </tr>
            </thead>
        
            <tbody>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        Mark Kariuki
                    </td>
                    <td>
                        kariukimark115@gmail.com
                    </td>
                    <td>
                        +254794120546
                    </td>
                    <td>
                        Region
                    </td>
                   
                </tr>
                <tr>
                    <td>
                        2
                    </td>
                    <td>
                        Mark Kariuki
                    </td>
                    <td>
                        kariukimark115@gmail.com
                    </td>
                    <td>
                        +254794120546
                    </td>
                    <td>
                        Region
                    </td>
                  
                </tr>
                <tr>
                    <td>
                        3
                    </td>
                    <td>
                        Mark Kariuki
                    </td>
                    <td>
                        kariukimark115@gmail.com
                    </td>
                    <td>
                        +254794120546
                    </td>
                    <td>
                        Region
                    </td>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>
